Source: ros-indigo-mrp2-bringup
Section: misc
Priority: extra
Maintainer: Akif Hacinecipoglu <akifhno@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/mrp2_bringup
Standards-Version: 3.9.2

Package: ros-indigo-mrp2-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-joy, ros-indigo-joy-teleop, ros-indigo-mrp2-description, ros-indigo-robot-state-publisher, ros-indigo-twist-mux
Description: Launch files and configurations for starting MRP2 robot in a real environment.
